<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Virtuales.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VirtualesPro.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Virtuales.My.MySettings>
            <setting name="SelectedPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="PaperWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SelectedLogo" serializeAs="String">
                <value>Logos/InmejorableTicket.png</value>
            </setting>
            <setting name="SelectedUser" serializeAs="String">
                <value>CAJA </value>
            </setting>
            <setting name="FinalMessage" serializeAs="String">
                <value>12000BsD</value>
            </setting>
            <setting name="IsTerminal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalImagePath" serializeAs="String">
                <value>Logos/LogoInmejorable.png</value>
            </setting>
            <setting name="ImprimirLogo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImprimirUsuario" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImprimirMensajeFinal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBacklot" serializeAs="String">
                <value>False</value>
            </setting>
        </Virtuales.My.MySettings>
        <VirtualesPro.My.MySettings>
            <setting name="SelectedPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="PaperWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SelectedLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedUser" serializeAs="String">
                <value>CAJA TEST</value>
            </setting>
            <setting name="FinalMessage" serializeAs="String">
                <value>¡Gracias por tu apuesta!</value>
            </setting>
            <setting name="IsTerminal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImprimirLogo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImprimirUsuario" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImprimirMensajeFinal" serializeAs="String">
                <value>True</value>
            </setting>
        </VirtualesPro.My.MySettings>
    </userSettings>
</configuration>
